.signup-container
{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background: url(../../assets/images/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-container form
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
    float: right;
    width: 80%;
    background-size: 100%;
}
.signup-container form input
{
    width: calc(50% - 20px);
    height: 60px;
    background-color: transparent;
    color: var(--white-clr);
    border: 3px solid var(--white-clr);
    padding-left: 20px;
    text-align: center;
    font-size: var(--font-size-24);
}
.signup-container form input::placeholder
{
    color: var(--white-clr);
}
.signup-container form input.confirm
{
    width: 30px;
    height: 30px;
    margin-top: 50px;
}
.signup-container form label
{
    font-size: var(--font-size-20);
    margin-top: 50px;
}
.signup-container form input.confirm
{
    accent-color: #9d0000;
    background-color: transparent;
}
.signup-container form input:focus
{
    outline: none;
}
.signup-container form input[type="number"]::-webkit-inner-spin-button,
.signup-container form input[type="number"]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}