.text
{
    color: var(--white-clr);
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
.main-container
{
    width: 90%;
    margin: auto;
}
.main-container .sun-img
{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    animation: sunAnim 10s linear infinite;
}
.main-container .sun-img img
{
    width: 100%;
}
@keyframes sunAnim
{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}