header
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 32px 50px 0 0;
    backdrop-filter: blur(5px);
}
header nav
{
    width: fit-content;
    float: right;
    gap: 100px;
    position: relative;
}
header nav ul
{
    gap: 20px;
}
header nav a
{
    cursor: pointer;
    padding: 5px 10px;
    color: var(--white-clr);
    font-size: 24px;
}