*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.flex
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
:root
{
  --white-clr: #fff;
  --black-clr: #000;
  --dark-blue-clr: #100F14;
}
::-webkit-scrollbar
{
  display: none;
}
body
{
  color: var(--white-clr);
}