*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition: 0.3s;
}
.flex
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
:root
{
  --white-clr: #fff;
  --black-clr: #000;
  --dark-blue-clr: #100F14;
  --light-red-clr: #D53B07;
  --medium-red-clr: #A41801;
  --dark-red-clr: #430805;
  --dark-clr: #100F14;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-26: 26px;
  --font-weight-400: 400;
  --font-weight-700: 700;
}
::-webkit-scrollbar
{
  display: none;
}
body
{
  color: var(--white-clr);
}
button, a
{
  cursor: pointer;
}